<template name="createproject">
  <div class="one column row">
    <div class="column">
      <div class="ui form createproject segment" style="display: block;">
        <div class="field">
          <label>Name</label>
          <div class="ui left labeled input">
            <input name="project-name" type="text" placeholder="The project name goes here">
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Description</label>
          <div class="ui left labeled input">
            <input name="project-description" type="text" placeholder="Enter a short description for this project">
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="ui error message">
          <div class="header">We noticed some issues</div>
        </div>
        <div class="ui blue project create button">Next</div>
      </div>
    </div>
  </div>
</template>