<!-- 
  See router.js. A subscription to all (allowed) projects in the db is made when the
  /projects route is called and this template is rendered using the result of 
  that query/subscription.
  The data changes live in response to any data changes in the db and in response to pagination.
-->
<template name="projects">
  
  <div class="three column row">
    <div class="column">
      <div class="project count">{{countOfProjects}}</div>
    </div>
    <div class="column">
      <div class="ui teal button goto-createproject">Create New Project</div>
    </div>
    <div class="column">
      <div class="ui icon input project-filter">
        <input id="projectFilter"  type="text" placeholder="Search for a project">
        <i class="search icon"></i>
      </div>
    </div>
  </div>

  {{#each projects}}
    <div class="one column row">
      <div class="column">    
        {{> projectItem }}
      </div>
    </div>
  {{/each}}
  
  <div class="two column row">
    <div class="column"> 
      <div class="ui pagination menu">
      {{#each paginationItems }}
        {{> paginationItem }}
      {{/each}}
      </div>
    </div>
    <div class="column">
      <div class="ui pagination menu floated right">
        <a id="tenButton" class="{{isTenActive}} tableLimit pagination small item">2</a>
        <a id="twentyButton" class="{{isTwentyActive}} tableLimit pagination small item">4</a>
        <a id="fiftyButton" class="{{isFiftyActive}} tableLimit pagination small item">6</a>
        <a id="hundredButton" class="{{isHundredActive}} tableLimit pagination small item">12</a>
      </div>
    </div>    
  </div>
</template>

<template name="paginationItem">
  <a class="{{pageActive}} pages pagination small item">{{getPage}}</a>
</template>

<template name="projectItem">
  <div class="project container">
    <a class="project name" href="{{pathFor "project"}}">{{name}}</a>
    {{#if isIncomplete complete}}
      <i class="project warning icon"></i>
    {{/if}}
    <span class="project created">Created {{dateAgo createdOn}}</span>
    
    <span class="project description">{{description}}</span>
    <button class="project remove">Delete</button>
  </div>
</template>

