<template name="about">
  <div class="two column row">
    <div class="column">
      <p>"It looked serious, but we in California, like everywhere else, were  not alarmed. We were sure that the bacteriologists would find a way to  overcome this new germ, just as they had overcome other germs in the  past. But the trouble was the astonishing quickness with which this germ  destroyed human beings, and the fact that it inevitably killed any  human body it entered. No one ever recovered. There was the old Asiatic  cholera, when you might eat dinner with a well man in the evening, and  the next morning, if you got up early enough, you would see him being  hauled by your window in the death-cart. But this new plague was quicker  than that&mdash;much quicker.</p>
    </div>
    <div class="column">
      <p>"From the moment of the first signs of it, a man would be dead in an  hour. Some lasted for several hours. Many died within ten or fifteen  minutes of the appearance of the first signs.</p>
    </div>
  </div>
</template>